@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body{
  background-color: #FFFFFF!important;
}


.progress {
  appearance: none;
  -webkit-appearance: none;
}

.progress::-webkit-progress-bar {
  background-color: #f3f4f6;
  border-radius: 10px;
}

.progress::-webkit-progress-value {
  background: linear-gradient(90deg, #22c55e, #16a34a);
  border-radius: 10px;
}

.progress::-moz-progress-bar {
  background: linear-gradient(90deg, #22c55e, #16a34a);
  border-radius: 10px;
}



[dir="rtl"] input,
[dir="rtl"] textarea,
[dir="rtl"] select {
  text-align: right;
}

[dir="rtl"] svg {
  transform: none;
}

.language-switcher {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}